{%extends 'base.html'%}

{%block title%} Registro {%endblock%}

{%block content%}
<div class="container mt-5">
    <h2>Registro de Usuario</h2>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre Completo</label>
            <input type="text" class="form-control" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" name="correo" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="contrasena" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</div>

<!-- revisar despues -->
<!-- <div class="mb-3">
    <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
    <input type="password" class="form-control" id="confirmPassword" required>
</div> -->

{%endblock%}