{%extends 'auth/base-login-registro.html'%}




{%block content%}

<div class="d-flex flex-column min-vh-100 fondo">

    <div class="container my-auto">
        <div class="row">
            <div
                class="col-md-6 d-flex flex-column justify-content-center align-items-center align-items-md-start text-center text-md-start mb-3 mb-md-0">
                <h1 class="display-4 fw-bold UniConnect mb-0">UNICONNECT</h1>
                <p class="lead d-none d-md-block">Donde las personas aprenden juntos.</p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center"> <!--CONTENEDOR DEL FORM-->
                <div class="card p-4 shadow " style="width: 100%; max-width: 400px;">
                    <h3 class="mb-3 text-center">Iniciar sesión</h3>
                    {% if error_login %}
                        <p style="color: red;">{{ error_login }}</p>
                    {% endif %}
                    <form method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="action" value="login">
                        <div class="mb-3">
                            <input type="email" class="form-control p-2" id="email" name="correo"
                                placeholder="Correo electrónico" required>
                        </div>
                        <div class="mb-3">

                            <input type="password" class="form-control p-2" id="password" name="contrasena"
                                placeholder="Contraseña" required>
                        </div>
                        <button type="submit" class="btn w-100 mb-3 p-2 btniniciar">Iniciar sesión</button>
                        <a href="#" class="text-decoration-none d-block text-center mb-3 btnolvidaste">¿Olvidaste tu
                            contraseña?</a>
                        {% if error_registro %}
                            <p style="color: red;">Ocurrió un error al registrarse.</p>
                        {% endif %}
                        <button type="button" class="btn w-100 p-2 btnregistrarse mb-2 " data-bs-toggle="modal"
                            data-bs-target="#registerModal">Registrarse</button>

                        <button type="button"
                            class="btn  w-75 d-flex align-items-center justify-content-center p-3 m-2  mx-auto btngoogle ">
                            <img src="https://kgo.googleusercontent.com/profile_vrt_raw_bytes_1587515358_10512.png"
                                alt="Google Logo" style="width: 20px; margin-right: 10px;">
                            Sign up with Google
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- registro -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-medium fs-2" id="registerModalLabel">Registrarte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if error_registro %}
                        <p style="color: red;">{{ error_registro }}</p>
                    {% endif %}
                    <!-- registro formulario -->
                    <form method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="action" value="register">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control p-3" id="firstName" name="nombre"
                                    placeholder="Nombre" required>
                            </div>

                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control p-3" id="lastName" name="apellido"
                                    placeholder="Apellido" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <input type="text" class="form-control p-3" id="user" name="nombre_usuario"
                                    placeholder="Nombre de usuario" required>
                            </div>
                        </div>

                        <div class="mb-3">
                            <input type="email" class="form-control p-3" id="emailRegister" name="correo"
                                placeholder="Correo electrónico" required>
                        </div>

                        <div class="mb-3">
                            <input type="password" class="form-control p-3" id="passwordRegister" name="contrasena"
                                placeholder="Contraseña" required>
                        </div>

                        <div class="mb-3">
                            <input type="password" class="form-control p-3" id="confirmPassword"
                                placeholder="Confirmar contraseña" name="confirmar_contrasena" required>
                        </div>
                        <button type="submit" class="btn btn-dark w-100 p-3 btnregistrado">Registrarte</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>






{%endblock%}