<footer class="text-center py-3 mt-auto w-75 mx-auto">
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-between mt-2 mb-2 footeropciones">
            <a href="#" class="mx-2 mb-2 mb-md-0">Acerca de</a>
            <a href="#" class="mx-2 mb-2 mb-md-0">Accesibilidad</a>
            <a href="#" class="mx-2 mb-2 mb-md-0">Condiciones</a>
            <a href="#" class="mx-2 mb-2 mb-md-0">Política de privacidad</a>
            <a href="#" class="mx-2 mb-2 mb-md-0">Política de cookies</a>
        </div>
        <p class="mb-0 UniconnectInc text-center text-md-start">&copy; 2024 UniConnect, Inc.</p>

    </div>
</footer>